In [24]:
from tratando_economic_brazil import metas_inflacao, tratando_metas_inflacao, tratando_dados_bcb, tratando_dados_ibge_codigos, tratando_dados_ibge_link, tratando_dados_expectativas
from datetime import datetime
import pandas as pd

In [57]:
dados = tratando_dados_expectativas()

In [59]:
dados.index

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
               '2024-03-01', '2024-04-01'],
              dtype='datetime64[ns]', name='monthyear', length=292, freq='MS')

In [64]:
dados = tratando_metas_inflacao()

In [70]:
dados = metas_inflacao()

In [71]:
dados

    meta_inflacao   anos  inflacao_efetiva  diferenca_meta_efetiva
0           6.000   2000              5.97                   0.030
1           6.000   2000              5.97                   0.030
3           3.500   2002             12.53                  -9.030
4           3.254   2003              9.30                  -6.046
5           3.700   2004              7.60                  -3.900
6           4.500   2005              5.69                  -1.190
7           4.500   2006              3.14                   1.360
8           4.500   2007              4.46                   0.040
9           4.500   2008              5.90                  -1.400
10          4.500   2009              4.31                   0.190
11          4.500  2010Â               5.91                  -1.410
12          4.500   2011              6.50                  -2.000
13          4.500   2012              5.84                  -1.340
14          4.500   2013              5.91                  -1.410
15          4.500   2014              6.41                  -1.910
16          4.500   2015             10.67                  -6.170
17          4.500   2016              6.29                  -1.790
18          4.500   2017              2.95                   1.550
19          4.500   2018              3.75                   0.750
20          4.250   2019              4.31                  -0.060
21          0.000   2020              4.52                  -4.520
22          3.750   2021             10.06                  -6.310
23          3.500   2022              5.79                  -2.290
24          3.250   2023              4.62                  -1.370
25          3.000   2024               NaN                     NaN
26          3.000   2025               NaN                     NaN
27          3.000   2026               NaN                     NaN