In [11]:
from juntando_dados_selic import dados_juntos_selic
from tratando_dados_selic import tratando_dados_ibge_link

In [5]:
dados_selic = dados_juntos_selic()

In [10]:
dados_selic['producao_industrial_manufatureira'].isnull().sum()

292

In [12]:
tratando_dados_ibge_link(coluna='producao_industrial_manufatureira', link='https://sidra.ibge.gov.br/geratabela?format=xlsx&name=tabela8158.xlsx&terr=N&rank=-&query=t/8158/n1/all/v/11599/p/all/c543/129278/d/v11599%205/l/v,p%2Bc543,t')

            producao_industrial_manufatureira
2002-01-01                           51.67275
2002-02-01                           50.39333
2002-03-01                           57.43586
2002-04-01                           61.17946
2002-05-01                           59.19544
...                                       ...
2022-08-01                           99.35687
2022-09-01                           96.07265
2022-10-01                           94.63051
2022-11-01                           91.31279
2022-12-01                           84.26269

[252 rows x 1 columns]

In [13]:
%git status

UsageError: Line magic function `%git` not found.